profiles {
    conda {
        conda.enabled = true
        process {
            withName: GENERATE_DESIGN_FILES{
                conda = "./environment.yml"
            }
            withName: DATA_NORMALIZATION{
                conda = "./environment.yml"
            }
            withName: PROTEIN_ROLLUP{
                conda = "./environment.yml"
            }
            withName: BATCH_CORRECTION{
                conda = "./environment.yml"
            }
            withName: DIFFERENTIAL_EXPRESSION{
                conda = "./environment.yml"
            }
            withName: GSEA{
                conda = "./environment.yml"
            }
            withName: fastqc{
                conda = "./environment.yml"
            }
            withName: CLUSTERING{
                conda = "./environment.yml"
            }
            withName: CONSENSUS_CLUSTER{
                conda = "./environment.yml"
            }
            withName: MOFA{
                conda = "./environment_MOFA.yml"
            }
            withName: GSEA_MOFA{
                conda = "./environment_MOFA.yml"
            }
        }
    }

    docker{
    docker.enabled = true
    process.container = 'multiomics_analysis:latest'
    docker.runOptions = '-v ~/multiomics/:/multiomics/'
    }
}
